body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.container {
  width: 90%;
  margin: auto;
  padding: 30px;
}

.title {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
}

.header {
  background: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.header h2 {
  color: #0d6efd;
}

button {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #084298;
  transform: scale(1.05);
}

.student-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

hr {
  border: none;
  height: 2px;
  background: white;
  margin-top: 30px;
}
